body {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Caveat Brush', cursive;
    background-size: 100%;
}

p {
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Caveat Brush', cursive;
}


#container {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 2px;
    border: 5px solid #7a52a3;
    opacity: .9;
    background: #3da3ad; 
}

.mood{
    border: solid  3px;
    margin: 10px;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Handlee', cursive;
    font-size: 20px;
}

h1 {
    margin-top: 5%;
    padding: 1%;
    background: #3dffc2;
    border: solid  #ff29a3 5px;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

img {
    border: solid #b2dbff 3px;
}


.feels{
    border: solid #ba73ab 3px;
    margin: 10px;
    background-color: #3da3ad;
    float: left;
}

label{
    font-size: 20px;
}